.root{
    --white: #F7F0F0;
    --black: #121619;
    --blue: #58A4B0;
    --purple: #816E94;
    --darkBlue: #2d3e50;
}

.purple{
    color: #816E94;
}

.blue{
    color: #58A4B0;
}

.black{
    color: #121619;
}
.white{
    color:#F7F0F0;
}
.dark-blue{
    color: #2d3e50;
}



body {
    background-color: #121619;
    color:#F7F0F0 ;
}

.w-tab a{
    color: #F7F0F0 ;
    font-size: 1.2em;
    font-weight: 600;
}

.w-navbar{
    /* justify-content: center; */
    background-color: #2d3e50;
}

.w-logo{
    font-size: 2em;
}
.nav-wrapper{
    position: sticky;
    z-index: 1000;
}

.home{
    box-shadow: top 1em black;
}

.cover-link{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

